@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

:root {
  --main-light-color: rgba(69,69,90,0.15);
  --main-dark-color: rgba(9,9,9,0.9);
  --bg-toggler-light: rgb(255, 255, 255);
  --font-family-title: "Charm", cursive;
  --font-family-content: "Slabo 27px", serif;
  --regular-black: rgb(0,0,0);
  --regular-white:rgb(255,255,255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-light-color);
}

.dark {
  background-color: var(--main-dark-color);
}

.toggler {
  display: flex;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 1%;
}

.toggler__slider {
  width: 26px;
  height: 11px;
  background-color: var(--main-dark-color);
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--main-dark-color);
  box-sizing: content-box;
}

.dark .toggler__slider {
  border-color: white;
  background-color: var(--bg-toggler-light);
}

.slider__circle {
  height: 18px;
  width: 18px;
  background-color: var(--bg-toggler-light);
  border-radius: 50%;
  border: 0.1px solid var(--main-dark-color);
}

.dark .slider__circle {
  background-color: var(--regular-black);
  border-color: var(--regular-white);
}

.dark .toggler__slider {
  justify-content: flex-end;
}

.navbar {
  position: relative;
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 1.1rem;
}

.navbar__list {
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  height: 50px;
}

.navbar__list li {
  margin: 2rem 0.2rem 0 0.2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}

.dark .navbar__list li {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.navbar__list li:hover {
  background-color: var(--regular-black);
  color: var(--regular-white);
  cursor: pointer;
  transition: 0.5s;
}

.dark .navbar__list li:hover {
  color: var(--regular-black);
  background-color: var(--regular-white);
}

.navbar__title {
  padding: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

.dark .navbar__title {
  color: var(--regular-white);
}

.newsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;
  margin: 0 auto 0.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 1rem;
}

.dark .newsCard {
  box-shadow: rgba(255, 255, 255, 0.18) 0px 2px 4px;
}

.newsCard__image {
  width: 80%;
  height: auto;
  max-width: 800px;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.newsCard__title {
  color: var(--regular-black);
  font-size: 1.1rem;
  text-align: center;
  margin: 0.8rem;
  text-decoration: none;
  font-family: var(--font-family-content);
}

.dark .newsCard__title {
  color: var(--regular-white);
}

.newsCard__title:hover {
  color: rgb(20, 5, 186);
  transition: 0.2s;
}

.newsCard__description {
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin: 0 0.5rem;
  font-family: var(--font-family-content);
  text-align: center;
}

.dark .newsCard__description {
  color: var(--regular-white);
}

.newsCard__link {
  text-decoration: none;
}

.newsCard__published {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: end;
  margin: 1rem 0.6rem 0.3rem 0;
  font-family: var(--font-family-content);
}

.dark .newsCard__published {
  color: rgba(255, 255, 255, 0.4);
}

.brand {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.load-more {
  width: 90vw;
  margin: auto;
}

.load-more__button {
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 8px;
  margin-top: 1rem;
  font-family: var(--font-family-content);
  cursor: pointer;
}

.load-more__button:hover {
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
  background-color: var(--regular-white);
  color:rgba(0, 0, 0, 0.8)
}

.dark .load-more__button {
  color: var(--regular-black);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 8px;
}

.dark .load-more__button:hover {
  background-color: rgba(0, 0, 0, 0.803);
  color: var(--regular-white);
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 500px) {
  .toggler__slider {
    width: 38px;
    height: 16px;
  }

  .slider__circle {
    height: 24px;
    width: 24px;
  }

  .navbar__list {
    font-size: 0.8rem;
  }

  .navbar__list li {
    margin: 2rem 0.5rem 0 0.5rem;
  }

  .navbar__title {
    padding: 2rem 0 1rem 0;
    font-size: 1.9rem;
  }

  .newsCard {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 5px;
    margin: 0 auto 0.5rem auto;
  }

  .newsCard__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .newsCard__image {
    width: 100%;
    height: auto;
    margin: auto 0;
  }

  .newsCard__title {
    margin: 0.8rem 0.4rem;
  }

  .newsCard__description {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  .newsCard__published {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  
  .navbar__list {
    font-size: 0.9rem;
  }

  .navbar__list li {
    margin: 2rem 0.7rem 0 0.7rem;
  }

  .navbar__title {
    padding: 3rem 0 1.8rem 0;
    font-size: 2.1rem;
  }

  .newsCard {
    width: 80vw;
  }

  .newsCard__title {
    font-size: 1.2rem;
  }

  .newsCard__description {
    font-size: 1rem;
    letter-spacing: 0.4px;
    margin-top: 0;
  }

  .load-more {
    text-align: center;
    margin-top: 1rem;
  }

  .load-more__button {
    width: 80vw;
    margin: auto;
    height: 2.5rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 920px) {
  .navbar {
    font-size: 2rem;
  }

  .newsCard {
    margin: 2rem auto 0.8rem auto;
  }

  .newsCard__title {
    font-size: 1.3rem;
  }

  .newsCard__description {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .brand {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    margin: 3% auto;
  }

  .newsCard {
    width: 60vw;
  }

  hr {
    width: 60vw;
  }

  .newsCard__title {
    font-size: 1.5rem;
  }

  .newsCard__description {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .newsCard__published {
    font-size: 1rem;
  }

  .load-more__button {
    width: 60vw;
    height: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .newsCard {
    max-width: 1500px;
  }

  hr {
    max-width: 1500px;
  }

  .navbar {
    font-size: 2.5rem;
    margin: 3% auto;
  }

  .newsCard__title {
    font-size: 2rem;
  }

  .newsCard__description {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .newsCard__published {
    font-size: 1.1rem;
  }
}
