@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Charm&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(88, 88, 93, 0.15);
}

hr {
  width: 90vw;
  margin: auto;
}

.navbar {
  text-align: center;
  font-family: "Charm", cursive;
  font-size: 1.2rem;
}

.navbar__list {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navbar__list li {
  margin: 0.2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.216);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}

.navbar__title {
  padding: 1rem;
}

.newsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(81, 81, 84, 0);
/*  border-bottom: 2px solid rgba(70, 69, 69, 0.491);*/
  width: 95vw;
  margin: 1rem auto 0.5rem auto;
}

.newsCard__image {
  width: 80%;
  height: auto;
  max-width: 800px;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.newsCard__title {
  color: black;
  font-size: 1rem;
  text-align: center;
  margin: 0.8rem;
  text-decoration: none;
}

.newsCard__description {
  font-size: 0.85rem;
  line-height: 0.9rem;
  margin: 0 0.5rem;
}

.newsCard__published {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: end;
  margin: 1rem 0.3rem 0.3rem 0;
}

.brand {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.load-more {
  width: 90vw;
  margin: auto;
}

.load-more__button {
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.803);
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 500px) {
  .navbar {
    font-size: 1.4rem;
  }

  .newsCard {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 5px;
    margin: 1.5rem auto 0.5rem auto;
  }

  .newsCard__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .newsCard__image {
    width: 100%;
    height: auto;
    margin: auto 0;
  }

  .newsCard__title {
    margin: 0.8rem 0.4rem;
  }

  .newsCard__description {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  .newsCard__published {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  .navbar {
    font-size: 1.6rem;
  }

  hr {
    width: 80vw;
  }

  .newsCard {
    width: 80vw;
  }

  .newsCard__title {
    font-size: 1.1rem;
  }

  .load-more {
    text-align: center;
    margin-top: 1rem;
  }

  .load-more__button {
    width: 80vw;
    margin: auto;
    height: 2.5rem;
  }
}

@media only screen and (min-width: 920px) {
  .navbar {
    font-size: 2rem;
  }

  .newsCard {
    margin: 2rem auto 0.8rem auto;
  }


  .newsCard__title {
    font-size: 1.3rem;
  }

  .newsCard__description {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .brand {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    margin: 3% auto;
  }

  .newsCard {
    width: 60vw;
  }

  hr {
    width: 60vw;
  }

  .newsCard__title {
    font-size: 1.5rem;
  }

  .newsCard__description {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .newsCard__published {
    font-size: 1rem;
  }

  .load-more__button {
    width: 60vw;
    height: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .newsCard {
    max-width: 1500px;
  }

  hr {
    max-width: 1500px;
  }

  .navbar {
    font-size: 2.5rem;
    margin: 3% auto;
  }

  .newsCard__title {
    font-size: 2rem;
  }

  .newsCard__description {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .newsCard__published {
    font-size: 1.1rem;
  }
}
